.main-about {

}

.section-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 28px;
        margin-right: 30px;
    }
    
    &__text p {
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: #000000;
    }
    
    &__figures{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-left: 4px solid $grey-separator;
        padding-left: 30px;
        
        &-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 40px;
        }
        
        &_pink {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: 8px;
        }

        & > :nth-child(2n) {
            margin-bottom: 40px;
        }
    }
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: $gradient-redtext;
    align-self: stretch;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.picture {
    width: auto;
    height: 114.06px;
    background-position: center;
    background-size: cover;
}

.team {
    position: relative;
    
    & p {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 13px;
        text-transform: uppercase;
        color: $white;
        opacity: 0.8;
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
    }
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin-bottom: 30px;
 
    &__text p {
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 30px;
    }
}

.achieve {
    padding: 30px 60px;

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $main;
        padding-bottom: 30px;
    }

    &__block {
        margin-bottom: 30px;
        &-one{
            display: none;
            padding: 0px;     
            background: $white;
            border-radius: 12px;
        }
        
        & > :nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
    &__points {
        margin: 0 auto;
        width: fit-content;

        .point {
            display: inline-block;
            margin: 0 7px;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            background-color: $active-regular;
            opacity: 0.2;

            &.active {
                opacity: 1;
            }
        }
    }
}

@media (min-width: 768px) {
    .section-one {
        padding: 60px;

            &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            width: 648px;
        }
    }
    .picture {
        height: 233.6px;
    }
    .title {
        font-size: 38px;
        line-height: 46px;
    }
    .team {
        position: relative;
        & p {
            font-weight: 700;
            font-size: 46px;
            line-height: 56px;
            text-align: center;
            letter-spacing: 13px;
            text-transform: uppercase;
            color: $white;
            opacity: 0.8;
            text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
            position: absolute;
        }
    }
    .section-two {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 60px;
        
        &__headline {
            width: 648px;
        }
    }
    
    .achieve {
        &__block{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0px;
            width: 100%;
            
            & > :nth-child(n){
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(25% - 30px);
                height: 90px;
                background: $white;
                border-radius: 12px;
            }
            .pic {
                max-width: 100%;
            }
        }   
        
        &__points {
            .hidden {
                display: none;
            }
        }
    }
}


@media (min-width: 992px) {
    .section-one {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 60px;

        &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            width: 60%;
        }

        &__figures {
            width: 35%;
        }
    }

    .section-two {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 60px;
    
        &__text {
            width: 60%;
        }
        
        &__headline {
            width: 35%;
        }
    }

    .achieve {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 60px;
        
    }
}
