* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 400;
    min-width: 375px;
}

.container {
    max-width: 1380px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 30px;
}

.container_small{
    max-width: 1080px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 30px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.a {
    text-decoration: none;
    &:hover {  
        color: $active-hover;
    }
}

.picture {
    background-image: url(../img/team.png);
}

.backgroung-main {
    background-color: $grey-bg;
}

@media (min-width:768px) {
    .dota {
        & > :nth-child(n) {
            display: flex;
            align-items: center;

            &::after {
                content: '';
                background-color: $grey-text;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                display: inline-block;
                margin: 0 10px;
            }
        }

        & > :nth-last-child(1) {
            &::after {
                content: none;
            }
        }
        &.dota-2 {
            & > :nth-child(n)::after {
                background-color: $grey-separator;
            }
        }
    }
}

.title-blue {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: $active-regular;
    margin-bottom: 10px;
    transition: 250ms;

    &:hover {
        color: $accent;
    }
}

.title-pink {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}